<%= form_for(@course) do |f| %>
  <% if @course.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@course.errors.count, "error") %> prohibited this course from being saved:</h2>

      <ul>
      <% @course.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :category, 'Category' %><br>
    <%= f.text_field :category %><br><br>
    <%= f.label :title, 'Title' %><br>
    <%= f.text_field :title %><br><br>
    <%= f.label :description, 'Short description' %><br>
    <%= f.text_area :description %><br><br>
    <h3>Dates</h3>
    <%= f.label :startdate, 'Start date' %><br>
    <%= f.date_field :startdate %><br><br>
    <%= f.label :enddate, 'End date' %><br>
    <%= f.date_field :enddate %><br><br>

    <h3>Schedule</h3>
    <%= f.label :monday, 'Monday' %>
    <%= f.check_box :monday %><br><br>
    <%= f.label :tuesday, 'Tuesday' %>
    <%= f.check_box :tuesday %><br><br>
    <%= f.label :wednesday, 'Wednesday' %>
    <%= f.check_box :wednesday %><br><br>
    <%= f.label :thursday, 'Thursday' %>
    <%= f.check_box :thursday %><br><br>
    <%= f.label :friday, 'Friday' %>
    <%= f.check_box :friday %><br><br>
    <%= f.label :saturday, 'Saturday' %>
    <%= f.check_box :saturday %><br><br>
    <%= f.label :sunday, 'Sunday' %>
    <%= f.check_box :sunday %><br><br>
    <h4>Time of day</h4>
    <%= f.label :morning, 'Morning' %>
    <%= f.check_box :morning %><br><br>
    <%= f.label :afternoon, 'Afternoon' %>
    <%= f.check_box :afternoon %><br><br>
    <%= f.label :evening, 'Evening' %>
    <%= f.check_box :evening %><br><br>

    <%= f.label :max_no_of_students, 'Maximum number of students' %><br>
    <%= f.number_field :max_no_of_students %><br><br>
    <%= f.label :instructor_id, 'Lead instructor' %><br>
    <%= f.collection_select(:instructor_id, @instructors, :id, :name, prompt: true) %><br><br>
    <%= f.label :classroom_id, 'Classroom' %><br>
    <%= f.collection_select(:classroom_id, Classroom.all, :id, :name, prompt: true) %><br><br>


  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
