<br>
<h3><%= @course.category %></h3>
<h1><%= @course.title %></h1>
<p><%= @course.description %></p>
<p>Course dates: <%= @course.startdate.strftime("%b %-d, %Y") %> to <%= @course.enddate.strftime("%b %-d, %Y") %></p>
<p>Day(s): <%= @course.days_course_is_on %></p>
<p>Time(s) of day: <%= @course.timesofday_for_course %></p>
<p>Classroom: <%= Classroom.find(@course.classroom_id).try(:name) %></p>
<p>Max number of students: <%= @course.max_no_of_students %></p>
<p>Instructor: <%= @course.instructor.try(:name) %></p>
<h2>Students</h2>
<ul>
  <% @course.students.each do |student| %>
  <li><%= student.name %></li>
  <% end %>
</ul>


<%= link_to 'Edit course details', edit_course_path(@course) %> |
<%= link_to 'Manage Enrolment', new_enrolment_path %> | <%= link_to 'Delete course', @course, method: :delete, data: { confirm: 'Oh man, REALLY? I was totally looking forward to this!' } if can? :destroy, @course%>
<br><br>
<%= link_to 'Back to course listing', courses_path %>
