<h2>Schedule for <%= Date.today.strftime("%b %-d, %Y") %></h2>

<ul>
<% Course.course_today.each do |course| %>
  <li><%= course.title %> (<%= course.timesofday_for_course.downcase.strip.singularize %>)<br>
  Classroom: <%= Classroom.where(id: course.classroom_id).first.name %><br><%= link_to 'View course details', course %></li><br>
<% end %><br><br>
</ul>

<h3>Manage classrooms</h1>
  <ul>
    <% @classrooms.each do |classroom| %>
    <li><%= classroom.name %></li>
    <%= link_to 'Show', classroom %> |
    <%= link_to 'Edit', edit_classroom_path(classroom) %> |
    <%= link_to 'Destroy', classroom, method: :delete, data: { confirm: 'Are you sure?' } %><br><br>
    <% end %>
  </ul>

<%= link_to 'New Classroom', new_classroom_path %>
