<h2>Schedule for <%= Date.today.strftime("%b %-d, %Y") %></h2>



<h3>Manage classrooms</h1>
  <ul>
    <% @classrooms.each do |classroom| %>
    <li><%= classroom.name %></li>
    <%= link_to 'Show', classroom %> |
    <%= link_to 'Edit', edit_classroom_path(classroom) %> |
    <%= link_to 'Destroy', classroom, method: :delete, data: { confirm: 'Are you sure?' } %><br><br>
    <% end %>
  </ul>

<%= link_to 'New Classroom', new_classroom_path %>
