<!DOCTYPE html>
<html>
<head>
  <title>Organisit</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  
  <div class='login'>
    <% if current_user %>
      <%= current_user.email %>
      <%= link_to "Log out", destroy_user_session_path, method: :delete %>
    <% else %>
      <%= link_to "Sign In", new_user_session_path %>
    <% end %>
  </div>

  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

  <ul>

    <li><%= link_to 'Home', static_pages_home_path%></li>
    <li><%= link_to 'About', static_pages_about_path%></li>
    <li><%= link_to 'Contact', static_pages_contact_path%></li>
    <li><%= link_to 'Help', static_pages_help_path%></li>

    <%#= link_to 'Recipes', recipes_path if can? :index, Recipe %>
  </ul>

<%= yield %>

</body>
</html>
