<h1>Listing coursesessions</h1>

<table>
  <thead>
    <tr>
      <th>Timeofday</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @coursesessions.each do |coursesession| %>
      <tr>
        <td><%= coursesession.timeofday %></td>
        <td><%= link_to 'Show', coursesession %></td>
        <td><%= link_to 'Edit', edit_coursesession_path(coursesession) %></td>
        <td><%= link_to 'Destroy', coursesession, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Coursesession', new_coursesession_path %>
