<p><em>"There's cake? WHERE?!" – Michael Pavling</em></p><br>
<h2>Enrolled students</h2><br>
<%= link_to 'New Enrolment', new_enrolment_path %>
  <% Course.with_students.each do |course| %>
    <h3><%= course.title %></h3>
    <p>Maximum enrolment: <%= course.max_no_of_students %> students</p>
    <ol>
    <% course.student_enrolments.each do |enrolment| %>
      <li><p><%= enrolment.user.try :name %></p>
      <%= link_to 'Remove', enrolment_delete_path(enrolment), method: :delete, data: { confirm: 'Oh is that how it is? Whatever...' } if can? :destroy, enrolment %></li>
    <% end %>
    </ol>
    <%#= link_to 'Edit enrolments', edit_enrolment_path(enrolment)  if can? :edit, enrolment %> 
  <% end %>

<br><br>
<%= link_to 'New Enrolment', new_enrolment_path %>

